@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/* HEADER */
#header
{
 text-align: center;
 background-color:  rgb(242, 184, 98);
 color:rgb(39, 39, 39);
 width: 100%;
 height:auto;
}
.titulo1
{
    font-family: "Rubik";
    font-weight: 500;
    font-size: 45px;
  
}
.titulo2
{
    font-family: "Rubik";
    font-weight: 800;
    font-size: 80px;
}

/* IMAGENES Y TEXTO DE MARKETING */
.mkt
{
    display: flex;
    flex-direction: row;
}
.seccion1
{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}
.bloqueUno
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.textoUno
{    
    
    font-family:"Quicksand";
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.imgUno
{
    width: 300px;
    height: 300px;
    margin-right: 1rem;
    margin-left: 1rem;
}
.bloqueDos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.textoDos
{
    font-family:"Quicksand";
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.imgDos
{
    width: 250px;
    height: 250px;
    border-radius: 8%;

    margin-right: 1rem;
    margin-left: 1rem;
}
.seccion2
{
background-color: rgb(209, 199, 199);

display: flex;
justify-content: center;
}
.bloqueTres
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}
.textoTres
{
    font-family:"Quicksand";
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.imgTres
{
    width: 400px;
    height: 400px;
}

.btnBox
{
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;

}
.btnApp
{
    width: 200px;
    height: 50px;

    border-radius: 10px;
    border: none;

    background-color: rgb(39, 39, 39);
    color: rgb(242, 184, 98);

    font-family:"Quicksand";
    font-weight: 700;
    font-size: 35px;
   
}
/* APLICACION */
#contApp
{
 display: none;
 margin-bottom: 100px;  
      
}
#idFormApp
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;

    background-color: rgb(148, 141, 126);
    color: rgb(39, 39, 39);
    border: none;

    border-radius: 10px;

    font-family:"Quicksand";
    font-weight: 600;
    font-size: 15x;


    width: 45%;
    height: auto;

    padding: 5px;
    margin: auto;
    margin-top: 100px;
    line-height:50px;
}
#idFormApp, h3
{
    font-size: 15x;
    margin-top: 10px;
}


.input
{
width: 65%;
background-color: rgb(255, 255, 255);
padding: 10px;
border-radius: 6px;
margin-bottom: 16px;
border: 1px solid rgb(242, 184, 98);

}


/* .btnBoxSubmit
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    display: flex
} */

.btnSubmit
{
    width: 100px;
    height: 40px;
    margin-bottom: 20px;   

    border-radius: 10px;

    background-color: rgb(242, 184, 98);
    color: rgb(39, 39, 39);


    font-size: 20px;
    font-weight: 600;
}


/* FOOTER */

.contFooter
{
    text-align: center;
    font-family:"Quicksand";
    font-weight: 500;
    font-size: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color:  rgb(242, 184, 98);
    
}
.contContac
{
    font-family:"Quicksand";
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    /* width: 87%; */

    /* margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 30px;
     */

}
.map
{   
width: 40%;
margin-top: 2rem;
margin-bottom: 2rem;

font-family:"Quicksand";
font-weight: 500;
font-size: 20px;
text-align: center;
}

iframe
{
   
   border-radius: 20px;
   /* margin-top: 30px; */
}